body {
    font-family: Arial, sans-serif;
}

/* utilities */

.jumbo {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: white;
}

#returnal .container-lg {
    padding-top: 15rem;
    padding-bottom: 3rem;
}

/* header */

.site_header {
    background-color: black;
}

.bg_white {
    background-color: white;
}

.nav-link {
    color: black;
}

/* main */

/* returnal */

#returnal {
    margin-top: 98px;
    background-image: url("../img/jumbo-bg.png");
}

#jumbo_cards .card, #jumbo_cards img, #new_releases .card img {
    border-radius: 20px;
}

/* ps5 */

.blue_text {
    color: rgb(27, 27, 255);
}

/* it takes two */

#ittakes {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* new releases */

#new_releases {
    background-color: black;
    color: white;
}

/* playstation plus */

.bg_gray {
    background-color: gray;
}

@media screen and (max-width: 767.98px) {
    #plus_img, #now_img {
        display: none;
    }
    #plus_text, #now_text {
        padding: 40px 1.5rem;
    }
}

/* discount */

@media screen and (max-width: 767.98px) {
    #discount .col-12 {
        padding: 1.5rem;
    }
}

/* playstation now */

#playstation_now {
    background-color: darkblue;
    color: white;
}