body {
    font-family: Arial, sans-serif;
}

/* utilities */

.jumbo {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: white;
}

#returnal .container-lg {
    padding-top: 15rem;
    padding-bottom: 3rem;
}

/* header */

.site_header {
    background-color: black;
}

.bg_white {
    background-color: white;
}

.nav-link {
    color: black;
}

.dropdown-menu.show {
    display: flex;
    justify-content: center;
}

.dropdown-item:hover {
    background-color: white;
    box-shadow: 0px 0px 8px 2px #a8a9ab;
}

#navbarDropdown:focus, #navbarDropdown:hover {
    color: #0372ce;
}

.nav-link .chevron_hov {
    display: none;
}

#navbarDropdown:hover .chevron, #navbarDropdown:focus .chevron {
    display: none;
}

#navbarDropdown:hover .chevron_hov, #navbarDropdown:focus .chevron_hov {
    display: inline-block;
}

#navbarDropdown:active .chevron_hov {
    transform: rotate(180deg);
}

#navbarDropdown:focus .chevron_hov {
    transform: rotate(180deg);
}

/* main */

/* returnal */

#returnal {
    margin-top: 98px;
    background-image: url("../img/jumbo-bg.png");
}

#jumbo_cards .card, #jumbo_cards img, #new_releases .card img {
    border-radius: 20px;
}

.btn_orange {
    background-color: #cd3d0f;
    color: white;
}

#jumbo_cards .card:hover {
    transform: translateY(-0.25em);
}

/* ps5 */

.blue_text {
    color: #0372ce;
}

.ps5_cards .opacity {
    filter: opacity(0.5);
}

.ps5_cards .opacity:hover {
    filter: opacity(1);
}

/* it takes two */

#ittakes {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* new releases */

#new_releases {
    background-color: #202020;
    color: white;
}

/* playstation plus */

.bg_gray {
    background-color: #bebcbb;
}

.btn_plus {
    background-color: #d9dadc;
    color: #2d64e6;
}

@media screen and (max-width: 767.98px) {
    #plus_img, #now_img {
        display: none;
    }
    #plus_text, #now_text {
        padding: 40px 1.5rem;
    }
}

/* discount */

@media screen and (max-width: 767.98px) {
    #discount .col-12 {
        padding: 1.5rem;
    }
}

/* playstation now */

#playstation_now {
    background-color: #161c3b;
    color: white;
}

/* site footer */

.site_footer {
    background-color: #02439c;
    color: white;
    padding: 5rem 0;
}

@media screen and (max-width: 991.98px) {
    .site_footer .link_footer {
        margin-top: 3rem;
        padding-left: 3rem;
    }
}

/* button hover effect */

.btn_orange:hover {
    color: white;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 2px #cd3d0f;
    border: 1px solid black;
}

.btn-primary:hover {
    color: white;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 2px #0d6efd;
    border: 1px solid white;
}

.btn-light:hover {
    color: black;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 2px white;
    border: 1px solid #161c3b;
}

@media screen and (max-width:320px) {
    #returnal img, #ittakes img, #plus_text img, #now_text img {
        width: 100%;
    }
}

@media screen and (max-width:991.98px) {
    .navbar .accedi {
        flex-direction: column;
    }
    .accedi .navbar-nav {
        margin-left: 0.5rem !important;
    }
    .navbar-collapse>.navbar-nav {
        margin-bottom: 0 !important;
    }
    #btn_accedi {
        width: 10rem;
    }
    #btn_search {
        margin-top: 0.5rem;
        border: 1px solid lightgray;
        text-align: start;
    }
}