body {
    font-family: Arial, sans-serif;
}

/* utilities */

.jumbo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.jumbo .container-fluid {
    margin-top: 200px;
}

/* header */

.site_header {
    background-color: black;
}

.bg_white {
    background-color: white;
}

.nav-link {
    color: black;
}

/* main */

/* returnal */

#returnal {
    margin-top: 98px;
    background-image: url("../img/jumbo-bg.png");
}

#jumbo_cards .card, #jumbo_cards img, #new_releases .card img {
    border-radius: 20px;
}

/* ps5 */

.blue_text {
    color: rgb(27, 27, 255);
}

/* it takes two */

#ittakes {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* new releases */

#new_releases {
    background-color: black;
    color: white;
}